<h1>New user</h1>

<%= form_for @user do |f| %>
<p><%= f.label "Name" %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label "Height(in inches)" %></p>
<p><%= f.text_field :height %></p>
<p><%= f.label "How happy are you? (1-5 scale)" %></p>
<p><%= f.text_field :happiness %></p>
<p><%= f.label "How nauseous are you? (1-5 scale)" %></p>
<p><%= f.text_field :nausea %></p>
<p><%= f.label "How many dollars are in your pocket?" %></p>
<p><%= f.text_field :tickets %></p>
<p><%= f.label "Check box if you are a theme park owner" %>
  <%= f.check_box :admin, {}, true, false %></p>
<p><%= f.label "Enter a password" %></p>
<p><%= f.password_field :password %>
<p> <%= f.submit "Create User"%>
<% end %>

<p> <a href="/">back</a> </p>
