<div class="container" role="main">
  <p id="notice">Welcome back to the theme park</p>
</div>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert" %>
<% end %>

<div class="info">
  <% if @user.admin %>
  <p><strong>ADMIN</strong></p>
  <% end %>
  <p><strong>Name: </strong><%= @user.name %></p>
  <p><strong>Tickets: </strong><%= @user.tickets %></p>
  <p><strong>Mood: </strong><%= @user.mood %></p>
  <p><strong>Height: </strong><%= @user.height %> inches</p>
  <p> <a href="/users/<%= @user.id %>/edit">Edit</a></p>
  <p> <a href="/attractions">See attractions</a></p>
  <p> <%= link_to 'Log Out', logout_path, method: "delete" %> </p>

</div>
