<h1>Edit Attraction</h1>

<%= form_for @attraction do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Tickets: <%= f.text_field :tickets %></p>
  <p>Minimumn Height: <%= f.text_field :min_height %></p>
  <p>Nausea Rating: <%= f.text_field :nausea_rating %></p>
  <p>Happiness Rating: <%= f.text_field :happiness_rating %></p>
  <p>Ticket Number: <%= f.text_field :ticket_number %></p>
  <p><%= f.submit %></p>
<% end %>
