<h1>Listing Attractions</h1>


<div class = "container" role = "main">

<%= form_tag attractions_path, method: "get" do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search Attractions" %>
    <%= submit_tag "Search" %>
<% end %>


<% @attractions.each do |attraction| %>
  <p>Name: <%= attraction.name %> - Tickets: <%= attraction.tickets %> -
    <% if is_admin%>
      <%= link_to "Show #{attraction.name}", "/attractions/#{attraction.id}" %>
    <% else %>
      <%= link_to "Go on #{attraction.name}", "/attractions/#{attraction.id}" %>
    <% end %>
    </p>
<% end %>


<%= link_to "See All Attractions", attractions_path %>

<% if is_admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
</div>
